.page-header {
 border-bottom: solid 1px #eee;
 margin-bottom: 20px;
 margin-top: 50px;
 padding-bottom: 10px;
}

.form-actions {
 margin-top: 10px;
}

.pedit textarea {
 height: calc(100vh - 250px);
}
