footer {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #888;
    margin-top: 50px;
}
footer a {
    color: inherit;
}
footer ul#places {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul#places li {
    display: inline-block;
    margin-right: 10px;
}

footer p,
footer li {
    margin-top: 5px;
    margin-bottom: 5px;
}
