/**
 * Настройка форм.
 **/
.form-group {
    margin: 10px 0;
}
.form-control {
    display: block;
}
form .msgbox {
    margin-top: 10px;
}
main .form-actions {
    margin-top: 10px;
    line-height: 40px;
}
main .form-actions .btn {
    margin-right: 5px;
    vertical-align: top;
}

input.form-control,
textarea.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 30px;
    padding: 0 10px;
    width: calc(100% - 22px);
    min-width: calc(100% - 22px);
    max-width: calc(100% - 22px);
    background-color: #f8f8f8;
}

select.form-control {
    display: block;
}

p.help-block {
    margin: .25em 0 .5em;
    font-size: 14px;
    color: #888;
}
