a.image {
    display: inline-block;
    line-height: 0;
}
a.image.right {
    float: right;
    margin: 0 0 10px 20px;
}
a.image.right img {
    padding: 1px;
    border: solid 1px #ccc;
    background-color: #fff;
}

a.image img {
    height: 200px;
}

a.image img,
div.right img {
    padding: 1px;
    border: solid 1px #ccc;
    margin: 0;
}
div.right .map img {
    border: none;
}
div.right a {
    line-height: 1em;
    outline: none;
}

a.image {
    line-height: 0;
}

a.image.left {
    float: left;
    margin: 0 10px 5px 0;
}

@media (max-width: 400px) {
    a.image.right {
        float: none;
        margin: 0;
    }
}
