a.image img,
div.right img {
    padding: 1px;
    border: solid 1px #ccc;
    margin: 0;
}
div.right .map img {
    border: none;
}
div.right a {
    line-height: 1em;
    outline: none;
}

a.image {
    line-height: 0;
}

a.image.left {
    float: left;
    margin: 0 10px 5px 0;
}
