.twocol {
    position: relative;
    margin-left: -10px;
    width: calc(100% + 10px);
}
.twocol .col {
    display: inline-block;
    width: calc(50% - 10px);
    vertical-align: top;
}
.twocol > * {
    padding-left: 10px;
}

.corsette,
main.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

main.container {
    min-height: calc(100vh - 220px);
}

.hidden {
    display: none;
}
