aside {
    color: #4d4d4d;
    float: left;
    font-size: 14px;
    width: 160px;
    padding-top: 10px;
}
aside a {
    color: #0645ad;
}
aside .logo {
    margin-bottom: 20px;
}
aside .logo a {
    display: inline-block;
    line-height: 0;
    z-index: 1;
    text-decoration: none;
    color: inherit;
}
aside .logo .sub {
    display: block;
    text-align: center;
    margin-top: -20px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    color: #fff;
    position: relative;
    width: 100%;
}
aside ul {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
}
aside h2 {
    font-size: inherit;
    margin: 20px 0 .25em;
}

@media (max-width: 600px) {
    body > .container {
        padding: 0;
    }
    aside {
        display: none;
    }
    main {
        margin-left: 0;
        padding: 10px;
        border-left: none;
    }
    footer {
        margin: 10px;
    }
}
