<!doctype html>
<html lang="{% if page_props.lang %}{{ page_props.lang }}{% else %}en{% endif %}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/css/pt-sans.css"/>
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/wiki.css"/>

        <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/leaflet.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/Control.FullScreen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/Control.Loading.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/MarkerCluster.Default.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/MarkerCluster.css" type="text/css" media="screen" />

        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

        {% block more_head %}{% endblock %}

        <title>{% block page_title %}Wiki{% endblock %}</title>
    </head>
    <body>
       {# TODO: header #}

        <div class="container">
            <aside>
                <div class="logo"><a href="/wiki?name=Введение" title="Открыть главную страницу"><img src="/images/logo.jpg" alt="logo"/></a></div>

                <ul>
                    <li><a href="/wiki?name=Введение">Главная страница</a></li>
                    <li><a href="/wiki?name=Лента обновлений">Лента обновлений</a></li>
                    <li><a href="/wiki?name=О+сайте">О сайте</a></li>
                </ul>

                <form method="get" action="https://yandex.ru/search/site/" target="_blank">
                    <input type="hidden" name="searchid" value="2319971"/>
                    <input type="hidden" name="web" value="0"/>
                    <input type="hidden" name="l10n" value="ru"/>
                    <input type="text" name="text" value="" placeholder="Поиск" autocomplete="off" style="width: 140px; margin: 10px 0 0; padding: 2px 4px; border: solid 1px #ccc"/>
                </form>
            </aside>

            <main class="container" role="main">
                <div class="row">
                    <div class="col-md-12">
                        {% block page_header %}
                            <div class="page-header">
                                <h1>{% block page_h1 %}It Works!{% endblock %}</h1>
                            </div>
                        {% endblock %}

                        {% block page_contents %}
                            <p>На этой странице пусто.</p>
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>

        <footer>
            <p>Текст путеводителя доступен по лицензии <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike</a>.  Разрешено копирование в любом объёме и влюбом виде, при указании ссылки на первоисточник.</p>
            <ul id="places">
                <li><a href="/wiki?name=О+сайте">О сайте</a></li>
                <li><a href="/index">Полный список страниц</a></li>
                <li><a href="https://bitbucket.org/umonkey/php-wiki/src" target="_blank">Исходный код сайта</a></li>
                <li><a href="https://metrika.yandex.ru/dashboard?id=41793534" target="_blank">Посещаемость</a></li>
            </ul>
        </footer>

        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/jquery.fancybox.min.js"></script>
        <script type="text/javascript" src="/js/leaflet.min.js"></script>
        <script type="text/javascript" src="/js/leaflet.markercluster.min.js"></script>
        <script type="text/javascript" src="/js/Control.FullScreen.js"></script>
        <script type="text/javascript" src="/js/Control.Loading.js"></script>
        <script type="text/javascript" src="/js/wiki.js"></script>

        {% if host == "sebezh-gid.ru" %}
            <!-- Yandex.Metrika counter --><script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41793534 = new Ya.Metrika({ id:41793534, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41793534" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
        {% else %}
            <!-- no tracker code for this host -->
        {% endif %}
    </body>
</html>
