{% extends "base.twig" %}

{% block page_title %}Ошибка{% endblock %}

{% block page_h1 %}Сервер перегружен{% endblock %}

{% block page_contents %}
    <p>Извините, база данных перегружена.  Возможно на сервере ведутся технические работы.</p>
    <p>Попробуйте повторить операцию через несколько минут.</p>
{% endblock %}
