<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Себеж</title>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/libs.min.css"/>
        <link rel="stylesheet" type="text/css" href="/index3.css"/>
    </head>
    <body class="home">
        <div class="splash" style="background-image: url(/images/splash.jpg)">
            <div class="dark"></div>
        </div>

        {% if false %}
            <header>
                <h1 class="left"><a href="/wiki?name=Введение">Себеж</a></h1>
                <ul class="menu left">
                    <li><a href="/wiki?name=История Себежа">История</a></li>
                    <li><a href="/wiki?name=Куда сходить">Места</a></li>
                    <li><a href="/wiki?name=Люди">Люди</a></li>
                    <li><a href="/wiki?name=Гид">Гид</a></li>
                </ul>
            </header>
        {% endif %}

        <div class="lead">
            <h1><a href="/wiki?name=Себеж">Себеж</a></h1>
            <p class="intro">Путеводитель по <a href="/wiki?name=Небесное место на земле">небесному месту на земле</a></p>

            <form class="search" action="/search">
                <input type="text" name="query" placeholder="Введите интересующий текст или крутите вниз" autocomplete="off" autofocus="autofocus"/>
                <button type="submit">Найти</button>
            </form>

            <p class="small">Например: <a href="/wiki?name=История Себежа">история</a>, <a href="/wiki?name=Куда сходить">куда сходить</a>, <a href="/wiki?name=Список людей">люди</a>, <a href="/wiki?name=Достопримечательности">достопримечательности</a>.</p>
        </div>

        <div class="submenu">
            <div class="left">&copy; 2017-2018 <a href="/wiki?name=О сайте">Местные жители</a></div>
            <div class="right">На фото: <a href="/wiki?name=Себежская набережная">себежская набережная</a></div>
        </div>

        <div class="hnews" style="display: none">
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел.</span>
            </a>
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел.</span>
            </a>
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел.</span>
            </a>
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел и ещё что-то такое длинное отметили.</span>
            </a>
        </div>

        <section class="bullets">
            <div class="bullet">
                <div class="icon"><i class="fas fa-bus"></i></div>
                <h2><a href="/wiki?name=Как добраться">Как добраться</a></h2>
                <p>До Себежа можно добраться поездом, автобусом или автомобилем.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-hotel"></i></div>
                <h2><a href="/wiki?name=Где остановиться">Где остановиться</a></h2>
                <p>В городе есть несколько отелей, рядом много гостевых домов.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-utensils"></i></div>
                <h2><a href="/wiki?name=Где поесть">Где поесть</a></h2>
                <p>Рестораны и кафе.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-hiking"></i></div>
                <h2><a href="/wiki?name=Чем заняться">Чем занятся</a></h2>
                <p>Экскурсии, охота, рыбалка, пеший и водный туризм.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                <h2><a href="/wiki?name=Куда сходить">Куда сходить</a></h2>
                <p>Памятники, достопримечательности, населённые пункты.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-users"></i></div>
                <h2><a href="/wiki?name=Список людей">Интересные люди</a></h2>
                <p>Исторические личности и современники.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-calendar-alt"></i></div>
                <h2><a href="/wiki?name=События">События</a></h2>
                <p>Праздники и другие мероприятия.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-moon"></i></div>
                <h2><a href="/wiki?name=Ночная жизнь">Ночная жизнь</a></h2>
                <p>Ночные клубы, дискотеки.</p>
            </div>
        </section>

        {% include "parts/counters.twig" %}
    </body>
</html>
