<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Себеж</title>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/libs.min.css"/>
        <link rel="stylesheet" type="text/css" href="/index3.css"/>
    </head>
    <body class="home">
        <div class="splash" style="background-image: url(/images/splash.jpg)">
            <div class="dark"></div>
        </div>

        {% if false %}
            <header>
                <h1 class="left"><a href="/wiki?name=Введение">Себеж</a></h1>
                <ul class="menu left">
                    <li><a href="/wiki?name=История Себежа">История</a></li>
                    <li><a href="/wiki?name=Куда сходить">Места</a></li>
                    <li><a href="/wiki?name=Люди">Люди</a></li>
                    <li><a href="/wiki?name=Гид">Гид</a></li>
                </ul>
            </header>
        {% endif %}

        <div class="lead">
            <h1><a href="/wiki?name=Себеж">Себеж</a></h1>
            <p class="intro">Путеводитель по «<a href="/wiki?name=Небесное место на земле">небесному месту на земле</a>»</p>

            <form class="search" action="/search">
                <input type="text" name="query" placeholder="Введите интересующий текст или крутите вниз" autocomplete="off"/>
                <button type="submit">Найти</button>
            </form>

            <p class="small">Например: <a href="/wiki?name=История Себежа">история</a>, <a href="/wiki?name=Куда сходить">куда сходить</a>, <a href="/wiki?name=Список людей">люди</a>, <a href="/wiki?name=Достопримечательности">достопримечательности</a>.</p>
        </div>

        <div class="submenu">
            <div class="left">&copy; 2017-2018 <a href="/wiki?name=О сайте">Местные жители</a></div>
            <div class="right">На фото: <a href="/wiki?name=Себежская набережная">себежская набережная</a></div>
        </div>

        <div class="hnews" style="display: none">
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел.</span>
            </a>
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел.</span>
            </a>
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел.</span>
            </a>
            <a href="/wiki?name=Новости">
                <span class="date">9 ноября</span>
                <span class="text">В районном культурном центре отметили день сотрудника внутренних дел и ещё что-то такое длинное отметили.</span>
            </a>
        </div>

        <h2>Себеж — что это и где?</h2>

        <section class="about">
            <div class="text">
                <p>Себежский край — это юг северозапада России, на границе с Латвией и&nbsp;Белоруссией.</p>
                <p>Это множество самых разных озёр, глубоких и мелких, обжитых и&nbsp;малоизвестных.  Это леса, хвойные и лиственные, с грибами и ягодами.  Это&nbsp;десятки видов животных и сотни видов растений, спокойные и&nbsp;малочисленные местные жители.  Это кладовая природы, давно не знавшей промышленности, у вас под боком.</p>
                <p>Себежская земля — это прекрасное место для отпуска в любое время года, для&nbsp;удалённой работы, для&nbsp;жизни.</p>
                <p><a href="/wiki?name=Себежский+район">Читать о Себежском районе</a></p>
            </div>
        </section>

        <h2>Себеж — какой он?</h2>

        <section class="seasons">
            <div class="spring">
                <p>Весна — это пробуждение природы после спячки.  Прилетают птицы, просыпаются медведи, прорастают огороды.&nbsp; Это время заботы о природе.</p>
            </div>
            <div class="summer">
                <p>Лето в озёрном краю — это лодки и купания, солнечный загар и ночи у костра, свежие фрукты и местные праздники.&nbsp; Это красивейшее звёздное небо, метеорные дожди и летучие мыши.</p>
            </div>
            <div class="autumn">
                <p>Осенью в наших лесах появляются грибы, поспевают ягоды.&nbsp; Это невероятные краски облетающих деревьев, шуршание листьев под ногами, прогулки с термосами и красивейшие закаты.</p>
            </div>
            <div class="winter">
                <p>Зима — очень красивое время года, хоть&nbsp;и недолгое.&nbsp; Это прогулки на лыжах за&nbsp;городом, катание на коньках на&nbsp;городском озере, санки, ватрушки, блины, рыбалка на&nbsp;льду.</p>
            </div>
        </section>

        <section class="bullets">
            <div class="bullet">
                <div class="icon"><i class="fas fa-bus"></i></div>
                <h2><a href="/wiki?name=Как добраться">Как добраться</a></h2>
                <p>До Себежа можно добраться поездом, автобусом или автомобилем.  Поезд ходит всего один — Рига-Москва, зато автобусом можно добраться из Питера, Полоцка, Минска.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-hotel"></i></div>
                <h2><a href="/wiki?name=Где остановиться">Где остановиться</a></h2>
                <p>В городе есть несколько отелей, рядом много гостевых домов.  В главной гостинице много номеров на любой вкус, есть недорогие.  Для длительных путешествий, возможно, стоит снять квартиру или дом.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-utensils"></i></div>
                <h2><a href="/wiki?name=Где поесть">Где поесть</a></h2>
                <p>Рестораны и кафе.  Есть несколько кафе с собственной кухней, недорогой и вкусной.  Есть современный, но небольшой и семейный фаст-фуд.  Есть заведения, ориентированные на комплексные обеды.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-hiking"></i></div>
                <h2><a href="/wiki?name=Чем заняться">Чем занятся</a></h2>
                <p>Экскурсии, охота, рыбалка, пеший и водный туризм.  У нас есть подборка активностей для взрослых, детей и пенсионеров.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                <h2><a href="/wiki?name=Куда сходить">Куда сходить</a></h2>
                <p>Памятники, достопримечательности, населённые пункты.  Есть несколько маршрутов по городу, есть тропы и водные маршруты от нацпарка.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-users"></i></div>
                <h2><a href="/wiki?name=Список людей">Интересные люди</a></h2>
                <p>В Себеже родилось несколько известных людей, многие здесь бывали.  Ещё больше интересных людей живёт здесь сейчас — о них мы тоже расскажем.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-calendar-alt"></i></div>
                <h2><a href="/wiki?name=События">События</a></h2>
                <p>Праздники и другие мероприятия.  Расскажем о регулярных масштабных мероприятиях, фестивалях.  Районный культурный центр устраивает мероприятия почти каждый день.</p>
            </div>
            <div class="bullet">
                <div class="icon"><i class="fas fa-moon"></i></div>
                <h2><a href="/wiki?name=Ночная жизнь">Ночная жизнь</a></h2>
                <p>Ночные клубы, дискотеки.  К сожалению, с этим в городе плохо.  Есть всего одно ночное алкогольно-развлекательное заведение, и то на любителя.  В целом город вымирает после 3 часов дня.</p>
            </div>
        </section>

        {% include "parts/counters.twig" %}
    </body>
</html>
