{% extends "base.twig" %}

{% block page_title %}Список всех страниц{% endblock %}

{% block page_h1 %}Список всех страниц{% endblock %}

{% block page_contents %}
    <ul>
        {% for name in pages %}
            <li><a href="/wiki?name={{ name }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
