{% extends "base.twig" %}

{% block page_title %}Страница не найдена{% endblock %}

{% block page_h1 %}Страница не найдена{% endblock %}

{% block page_contents %}
    <p>Запрошенная страница не найдена.&nbsp; Это даже не похоже на адрес статьи.</p>
    <p>Воспользуйтесь поиском.</p>
{% endblock %}
