{% extends "base.twig" %}

{% block page_title %}Page not found{% endblock %}

{% block page_h1 %}Page not found{% endblock %}

{% block page_contents %}
    <p>The requested page does not exist.&nbsp; Doesn't even look like an article.</p>
    <p>Try searching the website.</p>
{% endblock %}
