{% extends "base.twig" %}

{% block page_title %}Проверка доступа{% endblock %}
{% block page_h1 %}Проверка доступа{% endblock %}

{% block more_head %}
    <meta name="robots" contents="noindex, follow"/>
{% endblock %}

{% block page_contents %}
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="async" action="/login">
                <input type="hidden" name="back" value="{{ path }}"/>
                <div class="form-group">
                    <label>Логин</label>
                    <input class="form-control" type="text" name="login"/>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input class="form-control" type="password" name="password"/>
                </div>
                <div class="form-actions">
                    <button type="submit">Войти</button>
                </div>

                <p class="msgbox" style="display: none"></p>
            </form>
        </div>

        <div class="col-md-6">
            <p>После идентификации вы сможете редактировать страницы, если администратор сайта выдал вам соответствующий доступ.</p>
        </div>
    </div>
{% endblock %}
